src/main/mule/workday-wfm-absentismo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="workday-wfm-absentismo-flow" doc:id="62728fe4-8131-436f-a37e-af81c071088f" >
		<scheduler doc:name="Scheduler" doc:id="9adda24c-30e7-4c14-a371-d8397c45e594" >
			<scheduling-strategy >
				<cron expression="${absentismo.scheduler}" timeZone="GMT" />
			</scheduling-strategy>
		</scheduler>
		<!-- <http:listener doc:name="Listener" doc:id="31497910-2810-4580-a8a2-7d9e7dc678d4" config-ref="HTTP_Listener_config" path="/absentismo"/> -->
		<set-variable value="PRT_WFM_PRT_Absentismo" doc:name="varFlowName" doc:id="ad05ee6a-985e-428c-9b90-b2b92312e5d3" variableName="varFlowName" />
		<flow-ref doc:name="workday_wfm_Sub_Flow Flow Reference" doc:id="201d884a-207f-4420-ab9e-ffc35d09bcf9" name="workday_wfm_Sub_Flow" />
		<logger level="INFO" doc:name="Log Absentismo WFM publish completed " doc:id="0b0f8306-6e95-489f-afdc-bb7550b1fbe0" message="absentismo Scheduler flow completed at #[now()]" category="com.auchan.prc-auchan-workday-wfm" />
	</flow>
</mule>
